html, body {
    background-color: rgb(255, 255, 255);
    color: gainsboro;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ins {
    color: gainsboro;
    padding: 2px 4px 2px 4px;
    font-family: consolas, sans-serif;
    font-size: 12px;
    height: 100px;
}

#scoreWidget {
    background-color: #BBADA0;
    color: #FFFFFF;
    padding: 0 10px;
    margin: 20px;
    border-radius: 5px;

    font-size: 25px;
    font-weight: bold;

    font-family: meiryo, sans-serif;
}

#bestScoreWidget {
    background-color: #BBADA0;
    color: #FFFFFF;
    padding: 0 10px;
    margin: 20px;
    border-radius: 5px;

    font-size: 25px;
    font-weight: bold;

    font-family: meiryo, sans-serif;
}

#widgetContainer {
    height: 70%;
    width: 201px;
    margin-left: 40px;
}

#newGameButton {
    all: unset;
    cursor: pointer;

    border-radius: 5px;

    background-color: #8F7A66;
    color: gainsboro;
    padding: 10px 40px;
    margin: 20px;

    font-size: 15px;
    font-weight: bold;

    font-family: meiryo, sans-serif;
}
