html, body {
    background-color: rgb(32, 33, 51);
    color: gainsboro;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ins {
    color: gainsboro;
    padding: 2px 4px 2px 4px;
    font-family: consolas, sans-serif;
    font-size: 12px;
    height: 100px;
}

#scoreWidget {
    background-color: saddlebrown;
    padding: 10px 10px;

    font-size: 20px;
}

#widgetContainer {
    height: auto;
    width: auto;
    margin-left: 40px;
}

#newGameButton {
    background-color: rgb(50, 50, 50);
    color: gainsboro;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 20px;
}
